In [1]:
import pandas as pd

In [2]:
import numpy as np

In [5]:
udf = pd.read_csv('usa air quality.csv')
udf.head()

         City  AQI Country
0     Alabama   46     USA
1      Alaska   44     USA
2     Arizona   65     USA
3    Arkansas   81     USA
4  California   50     USA

In [7]:
idf= pd.read_csv('india air quality.csv')
idf.head()

               State  AQI Country
0     Andhra Pradesh  131   India
1  Arunachal Pradesh   38   India
2              Assam  119   India
3              Bihar  132   India
4         Chandigarh   92   India

In [8]:
india_avg_aqi = idf['AQI'].mean()
usa_avg_aqi = udf["AQI"].mean()
india_avg_aqi , usa_avg_aqi

(np.float64(125.51428571428572), np.float64(41.1764705882353))

In [9]:
india_median_aqi = idf['AQI'].median()
usa_median_aqi = udf['AQI'].median()
india_median_aqi , usa_median_aqi

(np.float64(107.0), np.float64(39.0))

In [11]:
india_mode_aqi = idf['AQI'].mode()
usa_mode_aqi = udf['AQI'].mode()
india_mode_aqi , usa_mode_aqi

(0    92
 1    95
 Name: AQI, dtype: int64,
 0    34
 Name: AQI, dtype: int64)

In [12]:
max_india_aqi = idf['AQI'].max()
max_usa_aqi = udf['AQI'].max()
max_india_aqi, max_usa_aqi

(np.int64(389), np.int64(81))

In [13]:
idf.loc[idf['AQI'] == idf['AQI'].max()]

   State  AQI Country
9  Delhi  389   India

In [17]:
udf.loc[udf['AQI'] == udf['AQI'].max()]

       City  AQI Country
3  Arkansas   81     USA

In [18]:
min_india_aqi = idf['AQI'].min()
min_usa_aqi = udf['AQI'].min()
min_india_aqi, min_usa_aqi

(np.int64(10), np.int64(18))

In [19]:
top_idf = idf.sort_values('AQI', ascending=False).head()
top_udf = udf.sort_values('AQI', ascending=False).head()
top_idf, top_udf

(            State  AQI Country
 9           Delhi  389   India
 12        Haryana  360   India
 32  Uttar Pradesh  303   India
 26         Punjab  231   India
 34    West Bengal  221   India,
         City  AQI Country
 3   Arkansas   81     USA
 25  Missouri   69     USA
 2    Arizona   65     USA
 16    Kansas   64     USA
 37    Oregon   63     USA)