In [1]:
import pandas as pd

In [2]:
import numpy as np

In [9]:
df = pd.read_excel('Adidas US Sales Datasets.xlsx')

df

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
0,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,In-store
1,Foot Locker,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,In-store
2,Foot Locker,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,In-store
3,Foot Locker,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,In-store
4,Foot Locker,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,In-store
...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,Outlet
9644,Foot Locker,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,Outlet
9645,Foot Locker,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,Outlet
9646,Foot Locker,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,Outlet
9647,Foot Locker,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,Outlet

**Sort the dataset by Units Sold in ascending order
**

In [12]:
df.sort_values('Units Sold')

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
4907,Foot Locker,2021-06-05,Midwest,Nebraska,Omaha,Women's Athletic Footwear,33.0,0,Online
4913,Foot Locker,2021-06-11,Midwest,Nebraska,Omaha,Women's Athletic Footwear,27.0,0,Online
1019,Foot Locker,2021-06-05,Midwest,Nebraska,Omaha,Women's Athletic Footwear,35.0,0,Outlet
1025,Foot Locker,2021-06-11,Midwest,Nebraska,Omaha,Women's Athletic Footwear,30.0,0,Outlet
4914,Foot Locker,2021-06-12,Midwest,Nebraska,Omaha,Men's Apparel,42.0,6,Online
...,...,...,...,...,...,...,...,...,...
12,Foot Locker,2020-01-25,Northeast,New York,New York,Men's Street Footwear,50.0,1220,Outlet
42,Foot Locker,2020-03-16,Northeast,New York,New York,Men's Street Footwear,60.0,1250,Outlet
30,Foot Locker,2020-03-04,Northeast,New York,New York,Men's Street Footwear,60.0,1250,Outlet
6,Foot Locker,2020-01-07,Northeast,New York,New York,Men's Street Footwear,50.0,1250,In-store
36,Foot Locker,2020-03-10,Northeast,New York,New York,Men's Street Footwear,60.0,1275,Outlet

**Sort the dataset by Units Sold in descending order.**

In [13]:
df.sort_values('Units Sold', ascending=False)

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
36,Foot Locker,2020-03-10,Northeast,New York,New York,Men's Street Footwear,60.0,1275,Outlet
30,Foot Locker,2020-03-04,Northeast,New York,New York,Men's Street Footwear,60.0,1250,Outlet
42,Foot Locker,2020-03-16,Northeast,New York,New York,Men's Street Footwear,60.0,1250,Outlet
6,Foot Locker,2020-01-07,Northeast,New York,New York,Men's Street Footwear,50.0,1250,In-store
12,Foot Locker,2020-01-25,Northeast,New York,New York,Men's Street Footwear,50.0,1220,Outlet
...,...,...,...,...,...,...,...,...,...
4914,Foot Locker,2021-06-12,Midwest,Nebraska,Omaha,Men's Apparel,42.0,6,Online
4913,Foot Locker,2021-06-11,Midwest,Nebraska,Omaha,Women's Athletic Footwear,27.0,0,Online
1019,Foot Locker,2021-06-05,Midwest,Nebraska,Omaha,Women's Athletic Footwear,35.0,0,Outlet
1025,Foot Locker,2021-06-11,Midwest,Nebraska,Omaha,Women's Athletic Footwear,30.0,0,Outlet
4907,Foot Locker,2021-06-05,Midwest,Nebraska,Omaha,Women's Athletic Footwear,33.0,0,Online

**Sort the dataset by Price per Unit (lowest to highest).**

In [16]:
df.sort_values('Price per Unit')

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
8610,West Gear,2021-09-12,West,Utah,Salt Lake City,Women's Athletic Footwear,7.0,111,Outlet
8609,West Gear,2021-09-12,West,Utah,Salt Lake City,Women's Street Footwear,7.0,105,Outlet
9221,West Gear,2021-03-19,South,Oklahoma,Oklahoma City,Women's Street Footwear,7.0,83,Outlet
8372,Sports Direct,2021-08-25,South,Alabama,Birmingham,Men's Street Footwear,7.0,224,Outlet
9149,Walmart,2021-03-19,South,Arkansas,Little Rock,Women's Street Footwear,8.0,112,Outlet
...,...,...,...,...,...,...,...,...,...
1610,Foot Locker,2021-06-24,Southeast,Virginia,Richmond,Women's Apparel,105.0,700,In-store
1400,Walmart,2021-07-16,Southeast,Florida,Orlando,Women's Apparel,110.0,650,In-store
1970,West Gear,2021-06-17,South,Louisiana,New Orleans,Women's Apparel,110.0,750,Online
1976,West Gear,2021-07-16,South,Louisiana,New Orleans,Women's Apparel,110.0,650,Online
1394,Walmart,2021-06-17,Southeast,Florida,Orlando,Women's Apparel,110.0,750,In-store

**Sort the dataset by Price per Unit (highest to lowest).**

In [17]:
df.sort_values('Price per Unit' , ascending = False)

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
1970,West Gear,2021-06-17,South,Louisiana,New Orleans,Women's Apparel,110.0,750,Online
1394,Walmart,2021-06-17,Southeast,Florida,Orlando,Women's Apparel,110.0,750,In-store
1400,Walmart,2021-07-16,Southeast,Florida,Orlando,Women's Apparel,110.0,650,In-store
1976,West Gear,2021-07-16,South,Louisiana,New Orleans,Women's Apparel,110.0,650,Online
1610,Foot Locker,2021-06-24,Southeast,Virginia,Richmond,Women's Apparel,105.0,700,In-store
...,...,...,...,...,...,...,...,...,...
9149,Walmart,2021-03-19,South,Arkansas,Little Rock,Women's Street Footwear,8.0,112,Outlet
8372,Sports Direct,2021-08-25,South,Alabama,Birmingham,Men's Street Footwear,7.0,224,Outlet
8610,West Gear,2021-09-12,West,Utah,Salt Lake City,Women's Athletic Footwear,7.0,111,Outlet
9221,West Gear,2021-03-19,South,Oklahoma,Oklahoma City,Women's Street Footwear,7.0,83,Outlet
8609,West Gear,2021-09-12,West,Utah,Salt Lake City,Women's Street Footwear,7.0,105,Outlet

**Sort all records by Invoice Date in ascending (chronological) order.**

In [18]:
df.sort_values('Invoice Date')

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
0,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,In-store
499,Foot Locker,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75.0,275,Outlet
8203,Foot Locker,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53.0,83,Outlet
3888,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,47.0,336,Online
7776,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,34.0,384,Outlet
...,...,...,...,...,...,...,...,...,...
498,Foot Locker,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70.0,175,Outlet
4386,Foot Locker,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63.0,47,Online
8202,Foot Locker,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46.0,56,Outlet
5088,Amazon,2021-12-31,Northeast,Maine,Portland,Men's Apparel,52.0,36,Online
1200,Amazon,2021-12-31,Northeast,Maine,Portland,Men's Apparel,55.0,125,Outlet

**Sort all records by Invoice Date in descending (latest first) order.**

In [19]:
df.sort_values('Invoice Date', ascending = False)

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
1200,Amazon,2021-12-31,Northeast,Maine,Portland,Men's Apparel,55.0,125,Outlet
4386,Foot Locker,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63.0,47,Online
8202,Foot Locker,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46.0,56,Outlet
5088,Amazon,2021-12-31,Northeast,Maine,Portland,Men's Apparel,52.0,36,Online
498,Foot Locker,2021-12-31,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70.0,175,Outlet
...,...,...,...,...,...,...,...,...,...
3888,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,47.0,336,Online
4387,Foot Locker,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68.0,83,Online
8203,Foot Locker,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53.0,83,Outlet
499,Foot Locker,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75.0,275,Outlet
0,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,In-store

**Sort by Product alphabetically (A–Z).**

In [22]:
df.sort_values('Product')

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
7489,Foot Locker,2021-02-08,Northeast,Rhode Island,Providence,Men's Apparel,41.0,35,Online
5299,Walmart,2021-09-18,Southeast,Florida,Orlando,Men's Apparel,64.0,74,Online
2083,Foot Locker,2021-01-23,West,Idaho,Boise,Men's Apparel,45.0,225,Online
8815,West Gear,2021-07-06,West,Idaho,Boise,Men's Apparel,43.0,173,Outlet
5305,Walmart,2021-10-17,Southeast,Florida,Orlando,Men's Apparel,59.0,98,Online
...,...,...,...,...,...,...,...,...,...
4018,Walmart,2020-10-22,South,Texas,Houston,Women's Street Footwear,47.0,206,Online
4024,Walmart,2020-10-28,South,Texas,Houston,Women's Street Footwear,47.0,255,Online
8038,Kohl's,2021-05-09,West,California,Los Angeles,Women's Street Footwear,38.0,210,Outlet
3970,Sports Direct,2020-08-02,South,Texas,Houston,Women's Street Footwear,32.0,182,Online
9647,Foot Locker,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,Outlet

**Sort by Product in reverse alphabetical order (Z–A).**

In [23]:
df.sort_values('Product', ascending= False)

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
9647,Foot Locker,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,Outlet
1180,Amazon,2021-11-13,Northeast,Maine,Portland,Women's Street Footwear,45.0,200,Outlet
1150,Amazon,2021-10-14,South,Alabama,Birmingham,Women's Street Footwear,30.0,250,Outlet
4096,West Gear,2021-02-13,West,California,San Francisco,Women's Street Footwear,52.0,233,Online
6575,Walmart,2021-06-21,South,Arkansas,Little Rock,Women's Street Footwear,38.0,104,Online
...,...,...,...,...,...,...,...,...,...
1879,West Gear,2021-03-23,West,Oregon,Portland,Men's Apparel,55.0,100,In-store
8238,West Gear,2020-02-05,West,Nevada,Las Vegas,Men's Apparel,47.0,105,Outlet
4032,West Gear,2020-11-05,West,California,San Francisco,Men's Apparel,51.0,161,Online
1885,West Gear,2021-04-24,West,Oregon,Portland,Men's Apparel,50.0,125,In-store
4824,Sports Direct,2021-03-14,South,Tennessee,Knoxville,Men's Apparel,39.0,95,Online

**Sort by Sales Method alphabetically.**

In [25]:
df.sort_values('Sales Method')

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
0,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,In-store
1765,Foot Locker,2021-08-18,Midwest,Missouri,St. Louis,Men's Apparel,35.0,300,In-store
1766,Foot Locker,2021-08-18,Midwest,Missouri,St. Louis,Women's Apparel,40.0,475,In-store
1767,Foot Locker,2021-09-19,Midwest,Missouri,St. Louis,Men's Street Footwear,35.0,600,In-store
1768,Foot Locker,2021-09-19,Midwest,Missouri,St. Louis,Men's Athletic Footwear,30.0,400,In-store
...,...,...,...,...,...,...,...,...,...
145,West Gear,2020-11-06,West,California,San Francisco,Women's Apparel,50.0,775,Outlet
144,West Gear,2020-11-05,West,California,San Francisco,Men's Apparel,55.0,575,Outlet
143,West Gear,2020-11-04,South,Texas,Houston,Women's Athletic Footwear,50.0,625,Outlet
152,West Gear,2020-11-13,West,California,San Francisco,Men's Street Footwear,50.0,850,Outlet
9647,Foot Locker,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,Outlet

**Sort by City and observe if all rows belong to the same city.**

In [28]:
df.sort_values('City')

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
5343,West Gear,2021-05-08,Northeast,New York,Albany,Men's Street Footwear,50.0,261,Online
1461,West Gear,2021-06-10,Northeast,New York,Albany,Men's Street Footwear,60.0,875,In-store
1462,West Gear,2021-06-10,Northeast,New York,Albany,Men's Athletic Footwear,55.0,625,In-store
1463,West Gear,2021-06-10,Northeast,New York,Albany,Women's Street Footwear,50.0,600,In-store
1464,West Gear,2021-06-10,Northeast,New York,Albany,Women's Athletic Footwear,50.0,575,In-store
...,...,...,...,...,...,...,...,...,...
3387,Foot Locker,2021-03-13,Northeast,Delaware,Wilmington,Men's Street Footwear,40.0,545,In-store
3388,Foot Locker,2021-03-13,Northeast,Delaware,Wilmington,Men's Athletic Footwear,40.0,250,In-store
3389,Foot Locker,2021-03-13,Northeast,Delaware,Wilmington,Women's Street Footwear,30.0,275,In-store
3391,Foot Locker,2021-03-13,Northeast,Delaware,Wilmington,Men's Apparel,50.0,175,In-store
3419,Foot Locker,2021-08-14,Northeast,Delaware,Wilmington,Women's Street Footwear,45.0,350,In-store

**#Multi-column Sorting**

**Sort by Product ascending, then by Units Sold descending.**

In [29]:
df.sort_values(['Product', "Units Sold"], ascending=[True, False] )

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
40,Foot Locker,2020-03-14,Northeast,New York,New York,Men's Apparel,60.0,925,Outlet
4,Foot Locker,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,In-store
10,Foot Locker,2020-01-23,Northeast,New York,New York,Men's Apparel,60.0,900,Outlet
34,Foot Locker,2020-03-08,Northeast,New York,New York,Men's Apparel,60.0,900,Outlet
46,Walmart,2020-04-17,Northeast,New York,New York,Men's Apparel,60.0,900,Outlet
...,...,...,...,...,...,...,...,...,...
4942,Foot Locker,2021-07-10,Midwest,Nebraska,Omaha,Women's Street Footwear,18.0,25,Online
4954,Foot Locker,2021-07-22,Midwest,Nebraska,Omaha,Women's Street Footwear,29.0,25,Online
7247,Sports Direct,2021-10-22,Northeast,Maryland,Baltimore,Women's Street Footwear,49.0,25,Online
4912,Foot Locker,2021-06-10,Midwest,Nebraska,Omaha,Women's Street Footwear,23.0,21,Online
4948,Foot Locker,2021-07-16,Midwest,Nebraska,Omaha,Women's Street Footwear,29.0,14,Online

**Sort by Region, then by State, both ascending.**

In [30]:
df.sort_values(['Region','State'])

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
288,Foot Locker,2021-06-04,Midwest,Illinois,Chicago,Men's Apparel,55.0,175,Outlet
289,Foot Locker,2021-06-05,Midwest,Illinois,Chicago,Women's Apparel,45.0,275,Outlet
290,Foot Locker,2021-06-06,Midwest,Illinois,Chicago,Men's Street Footwear,45.0,525,Outlet
291,Foot Locker,2021-06-07,Midwest,Illinois,Chicago,Men's Athletic Footwear,45.0,175,Outlet
292,Foot Locker,2021-06-08,Midwest,Illinois,Chicago,Women's Street Footwear,35.0,225,Outlet
...,...,...,...,...,...,...,...,...,...
5467,Foot Locker,2021-01-24,West,Wyoming,Cheyenne,Men's Apparel,42.0,45,Online
5468,Foot Locker,2021-01-24,West,Wyoming,Cheyenne,Women's Apparel,38.0,116,Online
5469,Foot Locker,2021-02-24,West,Wyoming,Cheyenne,Men's Street Footwear,27.0,113,Online
5470,Foot Locker,2021-02-24,West,Wyoming,Cheyenne,Men's Athletic Footwear,36.0,105,Online
5471,Foot Locker,2021-02-24,West,Wyoming,Cheyenne,Women's Street Footwear,39.0,88,Online

**Sort by Sales Method, then Price per Unit descending.**

In [31]:
df.sort_values(['Sales Method', 'Price per Unit'], ascending=[True ,False] )

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
1394,Walmart,2021-06-17,Southeast,Florida,Orlando,Women's Apparel,110.0,750,In-store
1400,Walmart,2021-07-16,Southeast,Florida,Orlando,Women's Apparel,110.0,650,In-store
1610,Foot Locker,2021-06-24,Southeast,Virginia,Richmond,Women's Apparel,105.0,700,In-store
1616,Foot Locker,2021-07-23,Southeast,Virginia,Richmond,Women's Apparel,105.0,600,In-store
1898,West Gear,2021-06-24,West,Oregon,Portland,Women's Apparel,105.0,700,In-store
...,...,...,...,...,...,...,...,...,...
9149,Walmart,2021-03-19,South,Arkansas,Little Rock,Women's Street Footwear,8.0,112,Outlet
8372,Sports Direct,2021-08-25,South,Alabama,Birmingham,Men's Street Footwear,7.0,224,Outlet
8609,West Gear,2021-09-12,West,Utah,Salt Lake City,Women's Street Footwear,7.0,105,Outlet
8610,West Gear,2021-09-12,West,Utah,Salt Lake City,Women's Athletic Footwear,7.0,111,Outlet
9221,West Gear,2021-03-19,South,Oklahoma,Oklahoma City,Women's Street Footwear,7.0,83,Outlet

**Sort by Retailer ascending and Invoice Date descending.**

In [32]:
df.sort_values(['Retailer','Invoice Date'], ascending=[True, False])

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
1200,Amazon,2021-12-31,Northeast,Maine,Portland,Men's Apparel,55.0,125,Outlet
5088,Amazon,2021-12-31,Northeast,Maine,Portland,Men's Apparel,52.0,36,Online
1199,Amazon,2021-12-30,Northeast,Maine,Portland,Women's Athletic Footwear,45.0,125,Outlet
5087,Amazon,2021-12-30,Northeast,Maine,Portland,Women's Athletic Footwear,42.0,36,Online
1198,Amazon,2021-12-29,Northeast,Maine,Portland,Women's Street Footwear,45.0,150,Outlet
...,...,...,...,...,...,...,...,...,...
4389,West Gear,2020-01-03,Northeast,Pennsylvania,Philadelphia,Men's Athletic Footwear,44.0,117,Online
8205,West Gear,2020-01-03,Northeast,Pennsylvania,Philadelphia,Men's Athletic Footwear,35.0,135,Outlet
500,West Gear,2020-01-02,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,35.0,450,Outlet
4388,West Gear,2020-01-02,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,32.0,122,Online
8204,West Gear,2020-01-02,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,27.0,158,Outlet

**Sort by City, Product, and Units Sold.**

In [33]:
df.sort_values(['City', 'Product','Units Sold'])

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
5341,West Gear,2021-04-09,Northeast,New York,Albany,Men's Apparel,50.0,124,Online
5371,West Gear,2021-09-08,Northeast,New York,Albany,Men's Apparel,51.0,131,Online
5335,West Gear,2021-03-08,Northeast,New York,Albany,Men's Apparel,51.0,133,Online
5347,West Gear,2021-05-08,Northeast,New York,Albany,Men's Apparel,56.0,137,Online
5395,Kohl's,2021-01-14,Northeast,New York,Albany,Men's Apparel,49.0,145,Online
...,...,...,...,...,...,...,...,...,...
3437,Kohl's,2021-11-14,Northeast,Delaware,Wilmington,Women's Street Footwear,55.0,320,In-store
3407,Foot Locker,2021-06-15,Northeast,Delaware,Wilmington,Women's Street Footwear,45.0,325,In-store
3413,Foot Locker,2021-07-13,Northeast,Delaware,Wilmington,Women's Street Footwear,45.0,350,In-store
3419,Foot Locker,2021-08-14,Northeast,Delaware,Wilmington,Women's Street Footwear,45.0,350,In-store
3443,Kohl's,2021-12-13,Northeast,Delaware,Wilmington,Women's Street Footwear,55.0,375,In-store

**Sort by State ascending and Price per Unit descending.**

In [34]:
df.sort_values(['State','Price per Unit'], ascending=[True ,False])

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
1147,Sports Direct,2021-10-11,South,Alabama,Birmingham,Women's Apparel,70.0,750,Outlet
5035,Sports Direct,2021-10-11,South,Alabama,Birmingham,Women's Apparel,68.0,203,Online
1144,Sports Direct,2021-10-08,South,Alabama,Birmingham,Women's Street Footwear,65.0,700,Outlet
1145,Sports Direct,2021-10-09,South,Alabama,Birmingham,Women's Athletic Footwear,65.0,550,Outlet
5032,Sports Direct,2021-10-08,South,Alabama,Birmingham,Women's Street Footwear,64.0,175,Online
...,...,...,...,...,...,...,...,...,...
1581,Foot Locker,2021-02-24,West,Wyoming,Cheyenne,Men's Street Footwear,30.0,450,In-store
5463,Foot Locker,2021-01-24,West,Wyoming,Cheyenne,Men's Street Footwear,29.0,91,Online
5411,Kohl's,2021-04-11,West,Wyoming,Cheyenne,Women's Street Footwear,28.0,145,Online
5405,Kohl's,2021-03-10,West,Wyoming,Cheyenne,Women's Street Footwear,27.0,149,Online
5469,Foot Locker,2021-02-24,West,Wyoming,Cheyenne,Men's Street Footwear,27.0,113,Online

**Sort by Region, Product, and Sales Method.**

In [35]:
df.sort_values(["Region", 'Product', 'Sales Method'])

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
792,Foot Locker,2020-10-21,Midwest,Minnesota,Minneapolis,Men's Apparel,45.0,150,In-store
798,Foot Locker,2020-10-27,Midwest,Minnesota,Minneapolis,Men's Apparel,45.0,150,In-store
804,Foot Locker,2020-11-02,Midwest,Minnesota,Minneapolis,Men's Apparel,50.0,75,In-store
810,Foot Locker,2020-11-08,Midwest,Minnesota,Minneapolis,Men's Apparel,50.0,50,In-store
816,Foot Locker,2020-11-14,Midwest,Minnesota,Minneapolis,Men's Apparel,55.0,75,In-store
...,...,...,...,...,...,...,...,...,...
8975,Kohl's,2021-10-26,West,New Mexico,Albuquerque,Women's Street Footwear,34.0,120,Outlet
8981,Kohl's,2021-11-26,West,New Mexico,Albuquerque,Women's Street Footwear,46.0,149,Outlet
8987,Sports Direct,2021-12-25,West,New Mexico,Albuquerque,Women's Street Footwear,44.0,150,Outlet
8993,Sports Direct,2021-01-13,West,New Mexico,Albuquerque,Women's Street Footwear,32.0,140,Outlet
8999,Sports Direct,2021-02-13,West,New Mexico,Albuquerque,Women's Street Footwear,28.0,120,Outlet

**Sort by Product, then within each product by highest Units Sold.**

In [38]:
sdf= df.sort_values(['Product', 'Units Sold'] , ascending=[True ,False])

sdf

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
40,Foot Locker,2020-03-14,Northeast,New York,New York,Men's Apparel,60.0,925,Outlet
4,Foot Locker,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,In-store
10,Foot Locker,2020-01-23,Northeast,New York,New York,Men's Apparel,60.0,900,Outlet
34,Foot Locker,2020-03-08,Northeast,New York,New York,Men's Apparel,60.0,900,Outlet
46,Walmart,2020-04-17,Northeast,New York,New York,Men's Apparel,60.0,900,Outlet
...,...,...,...,...,...,...,...,...,...
4942,Foot Locker,2021-07-10,Midwest,Nebraska,Omaha,Women's Street Footwear,18.0,25,Online
4954,Foot Locker,2021-07-22,Midwest,Nebraska,Omaha,Women's Street Footwear,29.0,25,Online
7247,Sports Direct,2021-10-22,Northeast,Maryland,Baltimore,Women's Street Footwear,49.0,25,Online
4912,Foot Locker,2021-06-10,Midwest,Nebraska,Omaha,Women's Street Footwear,23.0,21,Online
4948,Foot Locker,2021-07-16,Midwest,Nebraska,Omaha,Women's Street Footwear,29.0,14,Online

***Sort by Product, then Price per Unit, then Invoice Date.***

In [40]:
df.sort_values(['Product', "Price per Unit", 'Invoice Date'])

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method
8611,West Gear,2021-09-12,West,Utah,Salt Lake City,Men's Apparel,16.0,114,Outlet
9187,Walmart,2021-09-19,South,Arkansas,Little Rock,Men's Apparel,18.0,111,Outlet
8370,Sports Direct,2021-08-23,South,Alabama,Birmingham,Men's Apparel,19.0,88,Outlet
5731,West Gear,2021-09-12,West,Utah,Salt Lake City,Men's Apparel,19.0,88,Online
8298,Sports Direct,2021-04-01,South,Tennessee,Knoxville,Men's Apparel,20.0,105,Outlet
...,...,...,...,...,...,...,...,...,...
5861,West Gear,2021-07-16,South,Louisiana,New Orleans,Women's Street Footwear,90.0,196,Online
1613,Foot Locker,2021-07-23,Southeast,Virginia,Richmond,Women's Street Footwear,90.0,650,In-store
1901,West Gear,2021-07-23,West,Oregon,Portland,Women's Street Footwear,90.0,650,In-store
1397,Walmart,2021-07-16,Southeast,Florida,Orlando,Women's Street Footwear,95.0,700,In-store
1973,West Gear,2021-07-16,South,Louisiana,New Orleans,Women's Street Footwear,95.0,700,Online

**Calculate a new column Total Sale = Price per Unit * Units Sold and sort descending.**

In [49]:
df['Total Sale'] = df['Price per Unit'] * df['Units Sold']
df.sort_values('Total Sale', ascending=False)

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method,Total Sale
1394,Walmart,2021-06-17,Southeast,Florida,Orlando,Women's Apparel,110.0,750,In-store,82500.0
1970,West Gear,2021-06-17,South,Louisiana,New Orleans,Women's Apparel,110.0,750,Online,82500.0
1395,Walmart,2021-07-16,Southeast,Florida,Orlando,Men's Street Footwear,90.0,900,In-store,81000.0
1971,West Gear,2021-07-16,South,Louisiana,New Orleans,Men's Street Footwear,90.0,900,Online,81000.0
1401,Walmart,2021-08-17,Southeast,Florida,Orlando,Men's Street Footwear,95.0,850,In-store,80750.0
...,...,...,...,...,...,...,...,...,...,...
9366,Foot Locker,2021-03-06,Northeast,Rhode Island,Providence,Women's Athletic Footwear,20.0,8,Outlet,160.0
1019,Foot Locker,2021-06-05,Midwest,Nebraska,Omaha,Women's Athletic Footwear,35.0,0,Outlet,0.0
4913,Foot Locker,2021-06-11,Midwest,Nebraska,Omaha,Women's Athletic Footwear,27.0,0,Online,0.0
4907,Foot Locker,2021-06-05,Midwest,Nebraska,Omaha,Women's Athletic Footwear,33.0,0,Online,0.0
1025,Foot Locker,2021-06-11,Midwest,Nebraska,Omaha,Women's Athletic Footwear,30.0,0,Outlet,0.0

**Filter rows where Sales Method == 'In-store' and sort by Units Sold.**

In [50]:
df.loc[df['Sales Method']== 'In-store'].sort_values('Units Sold')

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method,Total Sale
3318,West Gear,2021-03-20,Northeast,Maryland,Baltimore,Women's Athletic Footwear,30.0,25,In-store,750.0
809,Foot Locker,2020-11-07,Midwest,Minnesota,Minneapolis,Women's Athletic Footwear,35.0,25,In-store,875.0
803,Foot Locker,2020-11-01,Midwest,Minnesota,Minneapolis,Women's Athletic Footwear,35.0,25,In-store,875.0
3606,Foot Locker,2021-03-06,Northeast,Rhode Island,Providence,Women's Athletic Footwear,30.0,25,In-store,750.0
810,Foot Locker,2020-11-08,Midwest,Minnesota,Minneapolis,Men's Apparel,50.0,50,In-store,2500.0
...,...,...,...,...,...,...,...,...,...,...
722,Foot Locker,2020-08-12,Southeast,Florida,Miami,Men's Street Footwear,45.0,1100,In-store,49500.0
758,West Gear,2020-09-17,Southeast,Florida,Miami,Men's Street Footwear,65.0,1125,In-store,73125.0
752,West Gear,2020-09-11,Southeast,Florida,Miami,Men's Street Footwear,65.0,1150,In-store,74750.0
0,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,In-store,60000.0
6,Foot Locker,2020-01-07,Northeast,New York,New York,Men's Street Footwear,50.0,1250,In-store,62500.0

Filter rows where Sales Method == 'Outlet' and sort by Price per Unit.

In [51]:
df.loc[df['Sales Method'] == 'Outlet' ].sort_values('Price per Unit')

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method,Total Sale
8609,West Gear,2021-09-12,West,Utah,Salt Lake City,Women's Street Footwear,7.0,105,Outlet,735.0
8610,West Gear,2021-09-12,West,Utah,Salt Lake City,Women's Athletic Footwear,7.0,111,Outlet,777.0
8372,Sports Direct,2021-08-25,South,Alabama,Birmingham,Men's Street Footwear,7.0,224,Outlet,1568.0
9221,West Gear,2021-03-19,South,Oklahoma,Oklahoma City,Women's Street Footwear,7.0,83,Outlet,581.0
9149,Walmart,2021-03-19,South,Arkansas,Little Rock,Women's Street Footwear,8.0,112,Outlet,896.0
...,...,...,...,...,...,...,...,...,...,...
1357,Sports Direct,2021-12-09,West,Hawaii,Honolulu,Men's Apparel,90.0,425,Outlet,38250.0
1352,Walmart,2021-11-10,West,Hawaii,Honolulu,Women's Apparel,90.0,500,Outlet,45000.0
1358,Sports Direct,2021-12-09,West,Hawaii,Honolulu,Women's Apparel,95.0,525,Outlet,49875.0
1328,Foot Locker,2021-07-09,West,Hawaii,Honolulu,Women's Apparel,100.0,550,Outlet,55000.0
1322,Foot Locker,2021-06-10,West,Hawaii,Honolulu,Women's Apparel,100.0,650,Outlet,65000.0

Sort only rows where Units Sold > 1000 by Product.

In [57]:
bdf = df.loc[df['Units Sold']> 1000 ].sort_values('Product')
bdf

,Retailer,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Sales Method,Total Sale
43,Foot Locker,2020-03-17,Northeast,New York,New York,Men's Athletic Footwear,55.0,1025,Outlet,56375.0
37,Foot Locker,2020-03-11,Northeast,New York,New York,Men's Athletic Footwear,55.0,1025,Outlet,56375.0
0,Foot Locker,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,In-store,60000.0
740,West Gear,2020-04-24,Southeast,Florida,Miami,Men's Street Footwear,55.0,1070,In-store,58850.0
746,West Gear,2020-04-24,Southeast,Florida,Miami,Men's Street Footwear,60.0,1075,In-store,64500.0
752,West Gear,2020-09-11,Southeast,Florida,Miami,Men's Street Footwear,65.0,1150,In-store,74750.0
758,West Gear,2020-09-17,Southeast,Florida,Miami,Men's Street Footwear,65.0,1125,In-store,73125.0
764,Foot Locker,2020-09-23,Southeast,Florida,Miami,Men's Street Footwear,55.0,1050,In-store,57750.0
782,Sports Direct,2020-05-24,Southeast,Florida,Miami,Men's Street Footwear,65.0,1075,In-store,69875.0
2295,Foot Locker,2021-01-09,Southeast,Georgia,Atlanta,Men's Street Footwear,40.0,1025,Online,41000.0
2301,Foot Locker,2021-02-07,Southeast,Georgia,Atlanta,Men's Street Footwear,40.0,1075,Online,43000.0
2307,Foot Locker,2021-03-05,Southeast,South Carolina,Charleston,Men's Street Footwear,35.0,1020,Online,35700.0
2319,Foot Locker,2021-05-05,Southeast,South Carolina,Charleston,Men's Street Footwear,50.0,1045,Online,52250.0
2325,Foot Locker,2021-06-07,Southeast,South Carolina,Charleston,Men's Street Footwear,55.0,1050,Online,57750.0
2331,Foot Locker,2021-07-05,Southeast,South Carolina,Charleston,Men's Street Footwear,65.0,1150,Online,74750.0
2337,Foot Locker,2021-08-06,Southeast,South Carolina,Charleston,Men's Street Footwear,65.0,1125,Online,73125.0
2343,Foot Locker,2021-09-05,Southeast,South Carolina,Charleston,Men's Street Footwear,55.0,1025,Online,56375.0
2361,Foot Locker,2021-12-05,Southeast,South Carolina,Charleston,Men's Street Footwear,70.0,1075,Online,75250.0
734,Foot Locker,2020-04-24,Southeast,Florida,Miami,Men's Street Footwear,45.0,1025,In-store,46125.0
728,Foot Locker,2020-08-18,Southeast,Florida,Miami,Men's Street Footwear,45.0,1070,In-store,48150.0
716,Foot Locker,2020-08-06,West,Washington,Seattle,Men's Street Footwear,45.0,1050,In-store,47250.0
2403,Sports Direct,2021-07-02,Southeast,North Carolina,Charlotte,Men's Street Footwear,65.0,1050,Online,68250.0
6,Foot Locker,2020-01-07,Northeast,New York,New York,Men's Street Footwear,50.0,1250,In-store,62500.0
12,Foot Locker,2020-01-25,Northeast,New York,New York,Men's Street Footwear,50.0,1220,Outlet,61000.0
18,Foot Locker,2020-01-31,Northeast,New York,New York,Men's Street Footwear,50.0,1200,Outlet,60000.0
24,Foot Locker,2020-02-06,Northeast,New York,New York,Men's Street Footwear,60.0,1220,Outlet,73200.0
30,Foot Locker,2020-03-04,Northeast,New York,New York,Men's Street Footwear,60.0,1250,Outlet,75000.0
36,Foot Locker,2020-03-10,Northeast,New York,New York,Men's Street Footwear,60.0,1275,Outlet,76500.0
722,Foot Locker,2020-08-12,Southeast,Florida,Miami,Men's Street Footwear,45.0,1100,In-store,49500.0
2409,Sports Direct,2021-08-03,Southeast,North Carolina,Charlotte,Men's Street Footwear,65.0,1025,Online,66625.0
48,Walmart,2020-04-19,Northeast,New York,New York,Men's Street Footwear,60.0,1200,Outlet,72000.0
56,Walmart,2020-04-27,Northeast,New York,New York,Men's Street Footwear,65.0,1150,Outlet,74750.0
62,Walmart,2020-05-03,Northeast,New York,New York,Men's Street Footwear,65.0,1200,Outlet,78000.0
176,West Gear,2021-01-12,West,California,San Francisco,Men's Street Footwear,60.0,1025,Outlet,61500.0
42,Foot Locker,2020-03-16,Northeast,New York,New York,Men's Street Footwear,60.0,1250,Outlet,75000.0
47,Walmart,2020-04-18,Northeast,New York,New York,Women's Apparel,65.0,1075,Outlet,69875.0
35,Foot Locker,2020-03-09,Northeast,New York,New York,Women's Apparel,65.0,1050,Outlet,68250.0
41,Foot Locker,2020-03-15,Northeast,New York,New York,Women's Apparel,65.0,1100,Outlet,71500.0
106,Walmart,2020-08-26,South,Texas,Houston,Women's Street Footwear,40.0,1100,Outlet,44000.0
112,Walmart,2020-09-01,South,Texas,Houston,Women's Street Footwear,40.0,1100,Outlet,44000.0